{{#each model.question as |question|}}
{{#link-to 'question' question.id}}<h3 class="hotlink">{{question.query}}</h3>{{/link-to}}
<h4>{{question.screenName}}</h4>
<img class="avatar" src={{question.avatar}}>
{{/each}}
