.hotlink {
  color: blue;
  cursor:pointer;
}

.hotlink:hover {
  -webkit-transform:scale(1.08);
  background-color: #FFF05A;
}

.avatar {
  width: 30px;
  height: 30px;
}

.color {
  color: blue;
}

.homeButton {
  width: 50px;
  height: 50px;
}

.float {
  float: left;
}

.black {
  background-color: black;
}

.biggerFont {
  font-size: 30px;
  color: white;
}

body {
  background-color: #7389AE;
}

.bg-right {
  background-color: #ECEBF3;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.different-background {
  background-color: #FFF05A;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: medium;
  border-color: #FA8334;
}

.margin-top {
  margin-top: 40px;
}
