<header>
  <nav class="black">
    <div class="container">
      {{#link-to 'index'}}<img class="homeButton float" src="http://www.clipartbest.com/cliparts/aie/RbG/aieRbGkLT.svg">{{/link-to}}
       <a class="navbar-brand biggerFont" href="#">Welcome to Guu~!</a>
      <img class="homeButton" src="http://vignette3.wikia.nocookie.net/vsbattles/images/6/6f/Guu.jpg/revision/latest?cb=20141031095513">
    </div>
  </nav>
</header>
{{outlet}}
<footer>
</footer>
