
<div class="container">
  <h1> Welcome to Guu Questions </h1>

  <p>We'll help you find the answers.</p>
{{question-tile model=model}}
  <br>
  {{ new-question saveQuestion="saveQuestion2" }}
<!-- {{#link-to 'answer'}}answer{{/link-to}} -->
</div>
