<div class="container">
  <h1>Questions</h1>
</div>
{{#each model.question as |question|}}
  <div class="row">
     <h4>{{question.screenName}}</h4>
     <img class="avatar" src={{question.avatar}}>
  </div>
  {{#link-to 'question' question.id}}<h3 class="hotlink">{{question.query}}</h3>{{/link-to}}
{{/each}}
