
<div class="container bg-right">
  <h1> Welcome to Guu's Questions </h1>

  <p>We'll help you find the answers.</p>
  {{question-tile model=model}}
  <br>
  {{ new-question saveQuestion="saveQuestion2" }}
</div>
